{
  "telegram": {
    "token": "I am a token",
    "recipients": [10120101012002012]
  },
  "matchers": [
    {
      "unit": "user@1000.service",
      "priority": 3
    },
    {
      "unit": "systemd-logind.service"
    }
  ]
}
